Host *
    StrictHostKeyChecking accept-new

Host github.com
 CheckHostIP = no
 HostName github.com
 IdentityFile ~/.ssh/id_rsa_github2
 User git

Host git
 HostName gitea
 Port 2222
 User sachapan
 IdentityFile ~/.ssh/id_rsa_gitea

Host gitea
 HostName gitea
 Port 22
 User sacha
 IdentityFile ~/.ssh/id_rsa

Host hawk
 HostName hawk
 User sacha
 IdentityFile ~/.ssh/id_rsa

Host bravo
 HostName bravo
 User sacha
 IdentityFile ~/.ssh/id_rsa

