---
- name: Install tftp server
  hosts: prox_tftpd
  become: true
  strategy: free
  serial:
    - "100%"
  vars:
    dirs:
      - "pxelinux.cfg"
      - "debian"
      - "images"
      - "netboot.xyz"
      - "popos"
      - "mnt"
      - "xubuntu"
      - "mint"
    pxe_files:
      - src: "/usr/lib/PXELINUX/pxelinux.0"
        dest: "/srv/tftp"
      - src: "/usr/lib/syslinux/modules/bios/ldlinux.c32"
        dest: "/srv/tftp/"
      - src: "/usr/lib/syslinux/memdisk"
        dest: "/srv/tftp/pxelinux.cfg/"
      - src: "/usr/lib/syslinux/modules/bios/vesamenu.c32"
        dest: "/srv/tftp/pxelinux.cfg/"
      - src: "/usr/lib/syslinux/modules/bios/libcom32.c32"
        dest: "/srv/tftp/pxelinux.cfg/"
      - src: "/usr/lib/syslinux/modules/bios/reboot.c32"
        dest: "/srv/tftp/pxelinux.cfg/"
    popos_files:
      - src: "/srv/tftp/mnt/casper/vmlinuz.efi"
      - dest: "/srv/tftp/popos/vmlinuz.efi"
      - src: "/srv/tftp/mnt/casper/initrd.gz"
      - dest: "/srv/tftp/popos/initrd.gz"
  roles:
    - role: don_rumata.ansible_role_install_tftpd
      tftpd_directory: /srv/tftp
  tasks:
    - name: Create directories
      ansible.builtin.file:
        path: "/srv/tftp/{{ item }}"
        state: directory
        mode: "0755"
        owner: tftp
        group: tftp
      loop: "{{ dirs }}"
    - name: Drop in pxelinux default file
      ansible.builtin.copy:
        src: "files/pxe/default"
        dest: "/srv/tftp/pxelinux.cfg/default"
        owner: "tftp"
        group: "tftp"
        mode: "0644"
      tags: pxelinux.cfg
    - name: Add a background image
      ansible.builtin.get_url:
        url: "https://raw.githubusercontent.com/sachapan/PXE/refs/heads/main/images/old_boots_640.png"
        dest: "/srv/tftp/images/old_boots.png"
        mode: "0644"
    - name: Install pxelinux
      ansible.builtin.package:
        name: pxelinux
        state: present
        update-cache: true
    # - name: Copy pxelinux files
    #   ansible.builtin.copy:
    #     src: "{{ item.src }}"
    #     dest: "{{ item.dest }}"
    #     remote_src: true
    #     mode: "0555"
    #   tags: pxe_files
    #   loop: "{{ pxe_files }}"
    #     # src: /usr/lib/PXELINUX/pxelinux.0
    #     # dest: /srv/tftp/pxelinux.0
    #     # remote_src: true
    - name: Install lighttpd
      ansible.builtin.package:
        name: lighttpd
        state: present
        update-cache: true
    - name: Symlink tftp
      ansible.builtin.file:
        src: /srv/tftp
        dest: /var/www/html/tftp
        state: link
    - name: Download checksum for Debian net-installer.
      ansible.builtin.get_url:
        url: https://deb.debian.org/debian/dists/stable/main/installer-amd64/current/images/SHA256SUMS
        dest: /srv/tftp/debian/SHA256SUMS
        mode: "0644"
    - name: Extract checksum for Debian net-installer.
      ansible.builtin.shell: grep ./netboot/netboot.tar.gz /srv/tftp/debian/SHA256SUMS | awk '{print $1}'
      register: checksum_result
      changed_when: false
    - name: Download debian net-installer.
      ansible.builtin.get_url:
        url: https://deb.debian.org/debian/dists/stable/main/installer-amd64/current/images/netboot/netboot.tar.gz
        dest: /srv/tftp/debian/netboot.tar.gz
        mode: "0644"
        checksum: "sha256:{{ checksum_result.stdout.split()[0] }}"
    - name: Symlink debian-installer
      ansible.builtin.file:
        src: /srv/tftp/debian/debian-installer
        dest: /srv/tftp/debian-installer
        state: link
    - name: Extract the net-installer.
      ansible.builtin.unarchive:
        src: /srv/tftp/debian/netboot.tar.gz
        dest: /srv/tftp/debian/
        remote_src: true
    - name: Copy needed pxe files
      ansible.builtin.copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        remote_src: true
        mode: "0555"
      tags: pxe_files
      loop: "{{ pxe_files }}"
    # - name: Remove pxelinux.cfg Symlink
      # ansible.builtin.file:
      #   path: /srv/tftp/pxelinux.cfg
      #   state: absent
    - name: Download netboot.xyz.kpxe loader
      ansible.builtin.get_url:
        url: https://boot.netboot.xyz/ipxe/netboot.xyz.kpxe
        dest: /srv/tftp/netboot.xyz/netboot.xyz.kpxe
        mode: "0644"
    - name: Download netboot.xyz.lkrn loader
      ansible.builtin.get_url:
        url: https://boot.netboot.xyz/ipxe/netboot.xyz.lkrn
        dest: /srv/tftp/netboot.xyz/netboot.xyz.lkrn
        mode: "0644"
    - name: Download PopOS checksums
      ansible.builtin.get_url:
        url: https://iso.pop-os.org/24.04/amd64/generic/22/SHA256SUMS
        dest: /srv/tftp/popos/SHA256SUMS
        mode: "0644"
    - name: Extract checksum for Pop OS
      ansible.builtin.shell: cat /srv/tftp/popos/SHA256SUMS | awk '{print $1}'
      register: popos_checksum_result
      changed_when: false
    - name: Download PopOS
      ansible.builtin.get_url:
        url: https://iso.pop-os.org/24.04/amd64/generic/22/pop-os_24.04_amd64_generic_22.iso
        dest: /srv/tftp/popos/pop-os_24.04_amd64_generic_22.iso
        mode: "0644"
        checksum: "sha256:{{ popos_checksum_result.stdout.split()[0] }}"
    - name: Mount Pop OS iso
      ansible.posix.mount:
        src: /srv/tftp/popos/pop-os_24.04_amd64_generic_22.iso
        path: /srv/tftp/mnt
        fstype: iso9660
        opts: ro
        state: ephemeral 
    - name: Copy Pop OS pxe boot files
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: /srv/tftp/popos/
        remote_src: true
        mode: "0644"
      loop: 
        - "/srv/tftp/mnt/casper/vmlinuz.efi"
        - "/srv/tftp/mnt/casper/initrd.gz"
    - name: Unmount Pop OS iso
      ansible.posix.mount:
        path: /srv/tftp/mnt
        state: unmounted
    - name: Download netboot.xyz.lkrn loader
      ansible.builtin.get_url:
        url: https://boot.netboot.xyz/ipxe/netboot.xyz.lkrn
        dest: /srv/tftp/netboot.xyz/netboot.xyz.lkrn
        mode: "0644"
  ## Xubuntu
    # - name: Download Xubuntu checksums
    #   ansible.builtin.get_url:
    #     url: https://mirror.csclub.uwaterloo.ca/xubuntu-releases/25.10/release/SHA256SUMS
    #     dest: /srv/tftp/xubuntu/SHA256SUMS
    #     mode: "0644"
    # - name: Extract checksum for Xubuntu
    #   ansible.builtin.shell: grep minimal-amd64 /srv/tftp/xubuntu/SHA256SUMS | awk '{print $1}'
    #   register: xubuntu_checksum_result
    #   changed_when: false
    # - name: Download Xubuntu
    #   ansible.builtin.get_url:
    #     url: https://mirror.csclub.uwaterloo.ca/xubuntu-releases/25.10/release/xubuntu-25.10-minimal-amd64.iso
    #     dest: /srv/tftp/xubuntu/xubuntu-25.10-minimal-amd64.iso
    #     mode: "0644"
    #     checksum: "sha256:{{ xubuntu_checksum_result.stdout.split()[0] }}"
    # - name: Mount Xubuntu iso
    #   ansible.posix.mount:
    #     src: /srv/tftp/xubuntu-25.10-minimal-amd64.iso
    #     path: /srv/tftp/mnt
    #     fstype: iso9660
    #     opts: ro
    #     state: ephemeral  
    # - name: Copy Xubuntu pxe boot files
    #   ansible.builtin.copy:
    #     src: "{{ item }}"
    #     dest: /srv/tftp/xubuntu/
    #     remote_src: true
    #     mode: "0644"
    #   loop: 
    #     - "/srv/tftp/mnt/casper/vmlinuz.efi"
    #     - "/srv/tftp/mnt/casper/initrd.gz"
    # - name: Unmount Xubuntu iso
    #   ansible.posix.mount:
    #     path: /srv/tftp/mnt
    #     state: unmounted

  ## Mint 
    - name: Download Mint checksums
      ansible.builtin.get_url:
        url: https://mirror.csclub.uwaterloo.ca/linuxmint/stable/22.2/sha256sum.txt
        dest: /srv/tftp/mint/SHA256SUMS
        mode: "0644"
    - name: Extract checksum for Mint
      ansible.builtin.shell: grep xfce /srv/tftp/mint/SHA256SUMS | awk '{print $1}'
      register: mint_checksum_result
      changed_when: false
    - name: Download Mint
      ansible.builtin.get_url:
        url: https://mirror.csclub.uwaterloo.ca/linuxmint/stable/22.2/linuxmint-22.2-xfce-64bit.iso
        dest: /srv/tftp/mint/linuxmint-22.2-xfce-64bit.iso
        mode: "0644"
        checksum: "sha256:{{ mint_checksum_result.stdout.split()[0] }}"
    - name: Mount Xubuntu iso
      ansible.posix.mount:
        src: /srv/tftp/mint/linuxmint-22.2-xfce-64bit.iso
        path: /srv/tftp/mnt
        fstype: iso9660
        opts: ro
        state: ephemeral
    - name: Copy Mint pxe boot files
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: /srv/tftp/mint/
        remote_src: true
        mode: "0644"
      loop:
        - "/srv/tftp/mnt/casper/vmlinuz"
        - "/srv/tftp/mnt/casper/initrd.lz"
    - name: Unmount Mint iso
      ansible.posix.mount:
        path: /srv/tftp/mnt
        state: unmounted
